*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Inter","Segoe UI",sans-serif;
}

body{
    background:#f5f7fb;
}

.room-container{

    max-width:1400px;

    margin:40px auto;

    padding:0 30px;

}

